<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ApplicationConfiguration"
           type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
           requirePermission="false" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <ApplicationConfiguration>
    <add key="ApplicationTitle" value="Hosts Updater"  />
    <add key="StevenBlacksHostsFileUrl" value="https://raw.githubusercontent.com/StevenBlack/hosts/master/alternates/fakenews-gambling-porn-social/hosts" />
    <add key="AmpHostsFileUrl" value="https://www.github.developerdan.com/hosts/lists/amp-hosts-extended.txt" />
    <add key="MaxAgeOfTempFilesInDays" value="1" />
  </ApplicationConfiguration>
</configuration>